
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .success {
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
    }
</style>
<div class="success">
    <div>
        <h2>Thanh toán thành công!</h2>
        <h4>Hóa đơn của bạn đã gửi cho shop. Bạn sẽ nhận được hàng sau 2-3 ngày. Cảm ơn bạn!</h4>
    </div>
</div>

