
@{
    ViewBag.Title = "AddToCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @ViewBag.product_id
</h2>
<h2>   color  @ViewBag.product_color</h2>
<h2>  size  @ViewBag.product_size</h2>
<h2>  quantity  @ViewBag.quantity</h2>
