
@{
    ViewBag.Title = "Sản phẩm tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h2 style="text-align: center; padding: 40px 0; font-weight: 800;">@ViewBag.Messeage</h2>
</main>

