
@{
    ViewBag.Title = "Đăng nhập";
}
<style>
    * {
        box-sizing: border-box;
    }

    .loginpage {
        background: #f6f5f7;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        height: 100vh;
        margin: -20px 0 50px;
    }

        .loginpage h1 {
            font-weight: bold;
            margin: 0;
            color: unset;
            font-family: unset;
        }

        .loginpage h2 {
            text-align: center;
            color: unset;
            margin-bottom: 8px;
            font-family: unset;
        }

        .loginpage p {
            font-size: 14px;
            font-weight: 100;
            line-height: 20px;
            letter-spacing: 0.5px;
            margin: 20px 0 30px;
            color: unset;
        }

        .loginpage span {
            font-size: 12px;
        }

        .loginpage a {
            color: #333;
            font-size: 14px;
            text-decoration: none;
            margin: 15px 0;
        }

        .loginpage button {
            border-radius: 20px;
            border: 1px solid #FF4B2B;
            background-color: #FF4B2B;
            color: #FFFFFF;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
        }

            .loginpage button:active {
                transform: scale(0.95);
            }

            .loginpage button:focus {
                outline: none;
            }

            .loginpage button.ghost {
                background-color: transparent;
                border-color: #FFFFFF;
            }

        .loginpage form {
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 50px;
            height: 100%;
            text-align: center;
        }

        .loginpage input {
            background-color: #eee;
            border: none;
            padding: 12px 15px;
            margin: 8px 0;
            width: 100%;
        }

        .loginpage .container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            position: relative;
            overflow: hidden;
            width: 768px;
            max-width: 100%;
            min-height: 480px;
        }

        .loginpage .form-container {
            position: absolute;
            top: 0;
            height: 100%;
            transition: all 0.6s ease-in-out;
        }

        .loginpage .sign-in-container {
            left: 0;
            width: 50%;
            z-index: 2;
        }

        .loginpage .container.right-panel-active .sign-in-container {
            transform: translateX(100%);
        }

        .loginpage .sign-up-container {
            left: 0;
            width: 50%;
            opacity: 0;
            z-index: 1;
        }

        .loginpage .container.right-panel-active .sign-up-container {
            transform: translateX(100%);
            opacity: 1;
            z-index: 5;
            animation: show 0.6s;
        }


        .loginpage .overlay-container {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            overflow: hidden;
            transition: transform 0.6s ease-in-out;
            z-index: 100;
        }

        .loginpage .container.right-panel-active .overlay-container {
            transform: translateX(-100%);
        }

        .loginpage .overlay {
            background: #FF416C;
            background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
            background: linear-gradient(to right, #FF4B2B, #FF416C);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 0;
            color: #FFFFFF;
            position: relative;
            left: -100%;
            height: 100%;
            width: 200%;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;
        }

        .loginpage .container.right-panel-active .overlay {
            transform: translateX(50%);
        }

        .loginpage .overlay-panel {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 40px;
            text-align: center;
            top: 0;
            height: 100%;
            width: 50%;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;
        }

        .loginpage .overlay-left {
            transform: translateX(-20%);
        }

        .loginpage .container.right-panel-active .overlay-left {
            transform: translateX(0);
        }

        .loginpage .overlay-right {
            right: 0;
            transform: translateX(0);
        }

        .loginpage .container.right-panel-active .overlay-right {
            transform: translateX(20%);
        }

        .loginpage .social-container {
            margin: 20px 0;
        }

    .social-container a {
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }

    .loginpage footer {
        background-color: #222;
        color: #fff;
        font-size: 14px;
        bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 999;
    }

        .loginpage footer p {
            margin: 10px 0;
        }

        .loginpage footer i {
            color: red;
        }

        .loginpage footer a {
            color: #3c97bf;
            text-decoration: none;
        }

    .loginpage a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
    }

    button #signUp {
        padding: 12px !important;
    }
</style>
<div class="loginpage">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form id="formSignIn" method="post" action="/Client_DangNhap_DangKy/DangNhap">
                <h2>Đăng nhập</h2>
                <input name="mail" id="mail" type="email" placeholder="Email" required />
                <input name="pass" id="pass" type="password" placeholder="Password" required />
                <button id="signIn" type="submit">Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h2>Chào bạn!</h2>
                    <p>Nhập thông tin cá nhân để bắt đầu mua sắm với chúng tôi</p>
                    <button class="ghost" id="signUp" padding="12px"><a href="/Client_DangNhap_DangKy/DangKy">Đăng ký</a></button>
                </div>
            </div>
        </div>
    </div>
    @if (@ViewBag.mess != "")
    {
        <h3 style="margin-top: 24px" class="text-danger">@ViewBag.mess</h3>

    }
</div>
<script>
    document.getElementById("formSignIn").addEventListener("submit", function (event) {
        var passValue = document.getElementById("pass").value.trim();
        if (passValue === "") {
            alert("Mật khẩu không là ký tự cách!");
            event.preventDefault(); // Ngăn chặn sự kiện submit
        }
    });
</script>
